* {
	font-family: monospace;
	margin: 0;
}

body {
	background-color: #262626;
}

.compatibility {
    display: flex;
    margin-top: 25vh;
    margin-left: 31vw;
}

.compatibility i {
    font-size: 1.25vw;
    margin-right: 1vw;
    color: #9b561a;
}

.playlist-info {
    margin-top: 1vh;
    margin-left: 31vw;
}

.playlist-functions {
    display: flex;
    margin-top: 1vh;
    margin-left: 30.75vw;
}

.playlist-functions button {
    margin-top: 0.25vw;
    margin-right: 0.5vw;

    height: 2vw;
    opacity: 0.75;
    text-decoration: none;
    background-color: transparent;
    color: #757575;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    font-size: 1.5vw;
    border: solid;
    border-color: #757575;
    border-width: 0.15vw;
    font-size: 1.15vw;
}

.playlist-functions button:hover {
    color: #ea7917;
    border-color: #ea7917;
}

.search-holder {
    display: flex;
}

.search {
    margin-top: 0.5vw;
    margin-left: 30.75vw;

    height: 2.2vw;
    width: 36vw;
    opacity: 0.75;
    text-decoration: none;
    color: #fff;
    padding: 0px;
    font-size: 1.15vw;
    border: solid;
    border-color: #757575;
    border-width: 0.15vw;
    background-color: transparent;
    outline: none;
    padding-left: 0.5vw;
}

.search-button {
    margin-top: 0.5vw;
    margin-right: 0.5vw;

    height: 2.5vw;
    width: 2.5vw;
    opacity: 0.75;
    text-decoration: none;
    background-color: transparent;
    color: #757575;
    padding: 0px;
    font-size: 1.5vw;
    border: solid;
    border-color: #757575;
    border-width: 0.15vw;
}

.search-button:hover {
    border-color: #ea7917;
    color: #ea7917;
}

.search-button:hover {
    opacity: 1;
}

.search-button i {
    color: inherit;
}

.progress-container {
    margin-left: 30.75vw;
    background-color: #757575;
    width: 39.25vw;
    border-radius: 0vw;
    margin-top: 0.5vw;
}

.progress {
    background-color: #ea7917;
    color: white;
    padding: 0.15vw;
    text-align: right;
    font-size: 20px;
    border-radius: 0vw;
    width: 0%;
}

.header {
  background-color: #262626;
  padding: 4.5vh 0vw;
  transition: all 0s;
}

/* Style the header links */
.header a {
  float: left;
  color: #757575;
  text-align: center;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  padding-top: 0vh;
  text-decoration: none;
  font-size: 1.25vw;
  line-height: 0.25vh;
  border-radius: 1px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 1.75vw;
  font-weight: normal;
  color: #ea7917;
  padding-left: 9vw;
}

/* Change the background color on mouse-over */
.header a:hover {
  color: #ea7917;
}

/* Style the active/current link*/
.header a.active {

  color: #ea7917;
}

.header a.active:hover {
    color: #757575;
}

.header .button div {
  float: left;
  color: #757575;
  text-align: center;
  font-size: 1.75vw;
  padding: 0px;
  text-decoration: none;
  font-size: 1vw;
  line-height: 0.5vh;
  border-radius: 1px;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

.footer {
    position: fixed;
    bottom: 1vh;
    left: 41.5vw;
    color: #757575;
}