<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>sabaplaylist</title>

	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link rel="shortcut icon" type="image/x-icon" href="../static/images/sabaplaylist-logo.png"/>

	<script src="https://kit.fontawesome.com/497ef235da.js" crossorigin="anonymous"></script>
</head>
<body>
	<!--Header-->
	<div id="header-element" class="header">
		<a class="logo" href="">sabaplaylist</a>
		<div class="header-right" style="padding-right: 10vw;">
			<a href="/">about</a>
			<a href="/login/logout">donate</a>
		</div>
	</div>
	
	<!--Compatibility-->
	<div class="compatibility">
		<p style="font-size: 1vw; margin-right: 1vw; color: #424242">compatible platforms:</p>
		<i class="fa-brands fa-spotify"></i>
		<i class="fa-brands fa-soundcloud"></i>
		<i class="fa-brands fa-youtube"></i>
	</div>

	<!--Searchbar-->
	<div class="search-holder">
		<input type="text" name="" class="search" placeholder="playlist link" id="search_input">

		<button class="search-button" id="search" onclick="load_playlist();">
			<div class="box">
				<i class="fa-solid fa-magnifying-glass"></i>
			</div>
		</button>
	</div>

	<!--Loaded Playlist-->
	<div class="playlist-info">
		<p style="font-size: 1vw; margin-right: 1vw; color: #424242" id="playlist_loaded">loaded: ?</p>
		<p style="font-size: 1vw; margin-right: 1vw; color: #424242" id="playlist_tracks">tracks: ?</p>
		<!--<p style="font-size: 1vw; margin-right: 1vw; color: #424242" id="playlist_length">length: ?</p>-->
	</div>

	<!--Functions-->
	<div class="playlist-functions">
		<button class="download" id="export" onclick="">
			<div class="box">
				<p>download</p>
			</div>
		</button>
		<button class="export" id="export" onclick="export_playlist()">
			<div class="box">
				<p>export</p>
			</div>
		</button>
		<a href="/">
			<button class="export" id="export" onclick="">
				<div class="box">
					<p>new playlist</p>
				</div>
			</button>
		</a>
	</div>

	<!--Footer-->
	<p class="footer">© 2022, Aitor Garcia Hombrados</p>

	<!--Scripts-->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="../static/js/spotify_functions.js"></script>
</body>
</html>